USE [VISTOAMERICANO]
GO
/****** Object:  Table [dbo].[TB_ASSESSORES]    Script Date: 14/06/2024 22:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ASSESSORES](
	[ID_ASSESSOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nchar](40) NOT NULL,
	[LOGIN] [nchar](20) NOT NULL,
	[SENHA] [nchar](10) NOT NULL,
	[EMAIL] [nchar](40) NULL,
	[ADMINISTRADOR] [bit] NOT NULL,
 CONSTRAINT [PK_TB_ASSESSORES] PRIMARY KEY CLUSTERED 
(
	[ID_ASSESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CIDADE]    Script Date: 14/06/2024 22:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CIDADE](
	[ID_CIDADE] [int] IDENTITY(1,1) NOT NULL,
	[CIDADE] [nchar](40) NOT NULL,
	[ESTADO] [nchar](40) NULL,
 CONSTRAINT [PK_TB_CIDADE] PRIMARY KEY CLUSTERED 
(
	[ID_CIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CLIENTES]    Script Date: 14/06/2024 22:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nchar](40) NOT NULL,
	[ID_ASSESSOR] [int] NOT NULL,
	[ID_CONTATO] [int] NULL,
	[EMAIL] [nchar](40) NULL,
	[SENHA] [nchar](10) NOT NULL,
	[DS160] [nchar](10) NULL,
	[ID_AISVISA] [nchar](50) NULL,
	[AGENDAMENTO_CASV] [datetime] NULL,
	[CIDADE_CASV] [int] NULL,
	[AGENDAMENTO_CONSULAR] [datetime] NULL,
	[CIDADE_CONSULAR] [int] NULL,
 CONSTRAINT [PK_TB_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CONTATO]    Script Date: 14/06/2024 22:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CONTATO](
	[ID_CONTATO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CONTATO] [nchar](20) NULL,
	[TEL_CONTATO] [nchar](20) NULL,
 CONSTRAINT [PK_TB_CONTATO] PRIMARY KEY CLUSTERED 
(
	[ID_CONTATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PAGAMENTOS]    Script Date: 14/06/2024 22:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PAGAMENTOS](
	[ID_PAGAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_ASSESSOR] [int] NULL,
	[VALOR_PAGO] [money] NULL,
	[VALOR_COBRADO] [money] NULL,
 CONSTRAINT [PK_TB_PAGAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PAGAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TB_CLIENTES_TB_ASSESSORES] FOREIGN KEY([ID_ASSESSOR])
REFERENCES [dbo].[TB_ASSESSORES] ([ID_ASSESSOR])
GO
ALTER TABLE [dbo].[TB_CLIENTES] CHECK CONSTRAINT [FK_TB_CLIENTES_TB_ASSESSORES]
GO
ALTER TABLE [dbo].[TB_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TB_CLIENTES_TB_CIDADE] FOREIGN KEY([CIDADE_CASV])
REFERENCES [dbo].[TB_CIDADE] ([ID_CIDADE])
GO
ALTER TABLE [dbo].[TB_CLIENTES] CHECK CONSTRAINT [FK_TB_CLIENTES_TB_CIDADE]
GO
ALTER TABLE [dbo].[TB_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TB_CLIENTES_TB_CIDADE1] FOREIGN KEY([CIDADE_CONSULAR])
REFERENCES [dbo].[TB_CIDADE] ([ID_CIDADE])
GO
ALTER TABLE [dbo].[TB_CLIENTES] CHECK CONSTRAINT [FK_TB_CLIENTES_TB_CIDADE1]
GO
ALTER TABLE [dbo].[TB_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TB_CLIENTES_TB_CONTATO] FOREIGN KEY([ID_CONTATO])
REFERENCES [dbo].[TB_CONTATO] ([ID_CONTATO])
GO
ALTER TABLE [dbo].[TB_CLIENTES] CHECK CONSTRAINT [FK_TB_CLIENTES_TB_CONTATO]
GO
ALTER TABLE [dbo].[TB_PAGAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_PAGAMENTOS_TB_ASSESSORES] FOREIGN KEY([ID_ASSESSOR])
REFERENCES [dbo].[TB_ASSESSORES] ([ID_ASSESSOR])
GO
ALTER TABLE [dbo].[TB_PAGAMENTOS] CHECK CONSTRAINT [FK_TB_PAGAMENTOS_TB_ASSESSORES]
GO
ALTER TABLE [dbo].[TB_PAGAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_PAGAMENTOS_TB_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TB_CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TB_PAGAMENTOS] CHECK CONSTRAINT [FK_TB_PAGAMENTOS_TB_CLIENTES]
GO
