<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Assessor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="assessor-details-container">
        <h2>Dados do Assessor</h2>
        <p><strong>Nome:</strong> {{ assessor.NOME }}</p>
        <p><strong>Login:</strong> {{ assessor.LOGIN }}</p>
        <p><strong>Email:</strong> {{ assessor.EMAIL }}</p>
        <p><strong>Senha:</strong> {{ assessor.SENHA }}</p>
        <p><strong>Administrador:</strong> {{ 'Sim' if assessor.ADMINISTRADOR else 'Não' }}</p>
        <button onclick="location.href='{{ url_for('index') }}'">Voltar</button>
    </div>
</body>
</html>
